body {
  padding-top: 0px;

}
.top-pad {
  padding: 40px 100px;
  text-align: center;
}

.tophead{
background:black;
color:white;
padding:0;
margin:0;
}

.bottom{
background:black;
padding:0;
margin:0;
}

.smdiv{
margin:1;
border:0;
padding:0;
}
